		<!-- Customers Say -->
		<div class="row">
			<div class="col-lg-12 offset-md-12">
				<div class="main-heading" style="padding: 60px;">
					<h4 style="font-size: 28px;">Take A Look at What Some of Our Loyal Customers Have to Say </h4>
				</div>
			</div>
		</div>

        <section class="build-to-win best-seller-contener padding-body">
			<div class="container ">

				<div class="row">
					<div class="col-lg-4 col-sm-4 padding-five">
						<div class="review-card">
							<div class="card-body">
								<div class="star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star "></i>
									<i class="fa fa-star "></i>
									<i class="fa fa-star "></i>
									<i class="fa fa-star "></i>
								</div>
								<div id="scrollable" class="price-boolets" style="color: black">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									</p>
								</div>
								<h4 class="card-name">First last name
									<br> company </h4>
							</div>
						</div>
					</div><div class="col-lg-4 col-sm-4 padding-five">
						<div class="review-card">
							<div class="card-body">
								<div class="star" id="star">
								</div>
								<div id="scrollable" class="price-boolets" style="color: black">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									</p>
								</div>
								<h4 class="card-name">First last name
									<br> company </h4>
							</div>
						</div>
					</div><div class="col-lg-4 col-sm-4 padding-five">
						<div class="review-card">
							<div class="card-body">
								<div class="star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star "></i>
									<i class="fa fa-star "></i>
									<i class="fa fa-star "></i>
									<i class="fa fa-star "></i>
								</div>
								<div id="scrollable" class="price-boolets" style="color: black">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									</p>
								</div>
								<h4 class="card-name">First last name
									<br> company </h4>
							</div>
						</div>
					</div>

				</div>

				<div class="row" style="padding-top: 40px;">
					<div class="col-lg-8 col-md-8 col-sm-12" style="text-align: center">
						<ul>
							<a href="https://northwoodsbrewingcompany.com/" target="_blank"><img class="logos in-line" src="assets/northwoods.png" alt="*"></a>
							<a href="https://www.thegroomsmith.us/" target="_blank"><img class="logos in-line" src="assets/groomsmith.png" alt="*"></a>
							<a href="https://theyorkriverlanding.com/" target="_blank"><img class="logos in-line" src="assets/yrl.png" alt="*"></a>
							<a href="https://www.dosamigosburritos.com/" target="_blank"><img class="logos in-line" src="assets/DOS.png" alt="*"> </a>
							<a href="https://jewettconstruction.com/" target="_blank"><img class="logos in-line no-mobile" src="assets/jewettconstruction.png" alt="*"> </a>
						</ul>

					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 reiew-contact">

						<p>Get in touch with us! Talk with us about your next big project! <a href="tel:+1 (603) 969-6375">+1 (603) 969-6375</a></p>
					</div>
				</div>
			</div>
		</section>