		<!-- Main -->
		<header class="masthead d-flex padding-body">
			<div class="container baner ">
				<div class="row inerservice-banner">
					<!--left side-->
					<div class="col-lg left-side">
						<span class="mb-1 header-subtitle">Small Business, Corporate Website Design & Enterprise Web Solutions</span>
						<h2 class="mb-5 header-tytle">A well-branded business website brings marketing strength to your company.</h2>
						<ul class="text-ul">
							<li>Complete custom design and creative password-protected content</li>
							<li>Easy-to-use content management system</li>
							<li>Get a custom site optimized for SEO and mobile</li>
							<li>Get noticed by your audience at the first glance</li>
						</ul>
					</div>
					<!--right side-->
					<div class="col-lg">
						<div class="main-block">
							<form action="/">
								<h3>Chat With Us to<span class="form-title"> Avail 70% Discount</span></h3>
								<div class="info">
									<input class="fname" type="text" name="name" placeholder="Full name">
									<input type="text" name="name" placeholder="Email">
									<input type="text" name="name" placeholder="Phone number">
								</div>
								<p>Project description</p>
								<div>
									<textarea rows="2"></textarea>
								</div>
								<button type="submit" class="" href="/">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>