		<!-- Price -->
		<section class="build-to-win padding-body" style="padding-left: 10%; padding-right: 10%;">
			<div class="container" >
				<div class="row">
					<div class="col-lg-8 offset-md-2">
						<div class="main-heading">
							<h2 class="project-title">Customized Website Design Packages Tailor-Made Specially for Your Business </h2>
							<p class="project-description">We offer personalized website design and development solutions to all our clients. This ensures that you receive exactly what you have envisioned, a made-to-order website that effectively scales and achieves all the business goals you have set for your company. Websites Creatively Designed To Increase ROI.  </p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3 col-sm-6 padding-five">
						<div class="card card-animation-body">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<h4 class="card-price"><span>Starting at </span> $299 </h4>
								<button routerLink="contact" class="price-button" >Start</button>
								<div id="scrollable" class="price-boolets">
									<ul>
										<li>Up to 3 Pages Custom Website</li>
										<li>CMS / Admin Panel</li>
										<li>Mobile Responsive</li>
										<li>Turn Around 5 - 10 Days</li>
										<li>Stock Photos Available</li>
										<li>Contact forms</li>
										<li>Stock Images</li>
										<li>Complete Deployment</li>
										<li>CEO Optimisation</li>
										<li>100% Unique design</li>
										<li>100% Satisfaction</li>
									</ul>
								</div>
								<div class="row align-center web card-footer" >
									<div  class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
									 <a href="tel:+1 (603) 969-6375" style="color: white;">Give us a call</a>
									</div> <div class="line "></div>
									<div class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
										<a routerLink="contact" style="color: white;">Chat with us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 padding-five">
						<div class="card card-animation-body" >
							<div class="card-body" >
								<h5 class="card-title">Special title treatment</h5>
								<h4 class="card-price"><span>Starting at </span> $449 </h4>
								<button routerLink="contact" class="price-button" >Start</button>
								<div id="scrollable" class="price-boolets">
									<ul>
										<li>Up to 5 Pages Custom Website</li>
										<li>CMS / Admin Panel</li>
										<li>Mobile Responsive</li>
										<li>Turn Around 5 - 10 Days</li>
										<li>Professions Photos Available</li>
										<li>Contact forms</li>
										<li>Cross Browser Compatible</li>
										<li>CEO Optimisation</li>
										<li>Logo Creation</li>
										<li>Complete Deployment</li>
										<li>100% Satisfaction</li>
									</ul>
								</div>
								<div class="row align-center web card-footer" >
									<div  class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
									 <a href="tel:+1 (603) 969-6375" style="color: white;">Give us a call</a>
									</div> <div class="line "></div>
									<div class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
										<a routerLink="contact" style="color: white;">Chat with us</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 padding-five">
						<div class="card card-animation-body">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<h4 class="card-price"><span>Starting at </span> $599 </h4>
								<button routerLink="contact" class="price-button" >Start</button>
								<div id="scrollable" class="price-boolets">
									<ul>
										<li>Up to 6 Pages Custom Website</li>
										<li>CEO Optimisation</li>
										<li>Turn Around 7 - 14 Days</li>
										<li>Professions Photos Available</li>
										<li>Mobile Responsive</li>
										<li>Cross Browser Compatible</li>
										<li>Logo Creation</li>
										<li>Contact forms</li>
										<li>Complete Deployment</li>
										<li>100% Satisfaction</li>
										<li>Free 1 Year Hosting</li>
									</ul>
								</div>
								<div class="row align-center web card-footer" >
									<div  class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
									 <a href="tel:(603) 969-6375" style="color: white;">Give us a call</a>
									</div> <div class="line "></div>
									<div class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
										<a routerLink="contact" style="color: white;">Chat with us</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 padding-five">
						<div class="card card-animation-body">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<h4 class="card-price"><span>Starting at </span> $1599 </h4>
								<button routerLink="contact" class="price-button" >Start</button>
								<div id="scrollable" class="price-boolets">
									<ul>
										<li>Up to 10 Pages Custom Website</li>
										<li>CEO Optimisation</li>
										<li>Turn Around 10 - 20 Days</li>
										<li>Custom Photos/Video Available</li>
										<li>Booking and Payment Gateway</li>
										<li>Mobile Responsive</li>
										<li>Cross Browser Compatible</li>
										<li>Logo Creation</li>
										<li>Contact forms</li>
										<li>Complete Deployment</li>
										<li>100% Satisfaction</li>
										<li>Free 1 Year Hosting</li>
									</ul>
								</div>
								<div class="row align-center web card-footer" >
									<div  class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
									 <a href="tel:+1 (603) 969-6375" style="color: white;">Give us a call</a>
									</div> <div class="line "></div>
									<div class="col-md-6 col-6 in-line cost-button" style="padding: 5px;">
										<a routerLink="contact" style="color: white;">Chat with us</a>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>
