		<!-- Clients -->
		<div class="lgos-sctn ">
			<div class="container">
				<div class="row">
					<div class="col-md-12" style="text-align: center">
						<ul>
						<a href="https://northwoodsbrewingcompany.com/" target="_blank"><img class="logos in-line" src="assets/northwoods.png" alt="*"></a>
						<a href="https://www.thegroomsmith.us/" target="_blank"><img class="logos in-line" src="assets/groomsmith.png" alt="*"></a>
						<a href="https://theyorkriverlanding.com/" target="_blank"><img class="logos in-line" src="assets/yrl.png" alt="*"></a>
						<a href="https://www.dosamigosburritos.com/" target="_blank"><img class="logos in-line" src="assets/DOS.png" alt="*"> </a>
						<a href="https://jewettconstruction.com/" target="_blank"><img class="logos in-line no-mobile" src="assets/jewettconstruction.png" alt="*"> </a>
						</ul>
					</div>
				</div>
			</div>
		</div>