
		<!-- Best seller-->
		<section class="build-to-win best-seller-contener padding-body">
			<div class="container image-for-best-seller">
				<div class="row ">
					<div class="col-md-12 services-tytle align-center" style="padding: 0px;">
						<h3 class="padding-20">
							Best Seller
							<span class="padding-20"><h4> Solution  </h4></span>
						</h3>
					</div>
				</div>
				<div class="row best-seller-bod" style="padding: 30px 50px; background: white;">
					<div class="col-lg-4 col-md-4">
						<ul>
							<li class="heading">CUSTOM WEBSITE DESIGN</li>
							<li class="boolets">15 to 20 Pages Website</li>
							<li class="boolets">Custom Made, Interactive, Dynamic &amp; High End Design</li>
							<li class="boolets">Custom WP (or) Custom PHP Development</li>
							<li class="boolets">1 jQuery Slider Banner</li>
							<li class="boolets">Up to 10 Custom Made Banner Designs</li>
							<li class="boolets">10 Stock Images</li>
							<li class="boolets">Unlimited Revisions</li>
							<li class="boolets">Complete W3C Certified HTML</li>
							<li class="boolets">Complete Deployment</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4">
						<ul>
							<li class="heading">Video Animation</li>
							<li class="boolets">15s Duration - HD 1080</li>
							<li class="boolets">Professional Script</li>
							<li class="boolets">Storyboard</li>
							<li class="boolets">Sample Themes</li>
							<li class="boolets">Custom Setting, Characters &amp; Graphics</li>
							<li class="boolets">Animation Effects &amp; Visualization</li>
							<li class="boolets">Voice - Over &amp; Sound Effects (All accents) (M/F)</li>
							<li class="boolets">Unlimited Revisions</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 ">
						<ul>
							<li class="heading">SEO</li>
							<li class="boolets">Business Analysis</li>
							<li class="boolets">Consumer Analysis </li>
							<li class="boolets">Competitor Analysis </li>
							<li class="boolets">35 Selected Keywords Targeting </li>
							<li class="boolets">15 Pages Keyword Targeted</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 services-tytle align-center" style="padding: 0px;">
						<h4 class="padding-20">
							For more information speak with us
							<span class="padding-20">
								<button routerLink="contact" class="btn-red btn-big button-header" style="margin: 5px;">Chat </button>
								<button routerLink="contact" class="btn-red btn-big button-header" style="margin: 5px;">START </button>
								<a href="tel:+1 (603) 969-6375" class="btn-red btn-big button-header" style="margin: 5px;">Call </a>
							</span>
						</h4>
					</div>
				</div>

			</div>
		</section>

