
<div>
  <div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="sldrwrp">
                    <!-- <img src="assets/images/logo-dark.png"> -->
                </div>
            </div>
            <div class="col-md-5">
                <div class="cntct">
                    <ul>
                        <li class="cstm-btn"><a href="tel:(603) 969-6375"><i class="fa fa-phone" aria-hidden="true"></i>(603) 969-6375</a></li>
                        <li class="cstm-btn blink"><a routerLink="contact" class="trigger-chat blink">live chat</a></li>
                        <li class="cstm-btn"><a routerLink="contact" class="trigger-chat">get started</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>